<h1>Olá, <%= @resource.username || @resource.email %>!</h1>
<p>
  Recebemos uma solicitação para redefinir sua senha no TaskMaster.<br>
  Para criar uma nova senha, clique no link abaixo:
</p>
<p>
  <a href="http://127.0.0.1:5173/resetar-senha?token=<%= @token %>">
    Redefinir minha senha
  </a>
</p>
<p>
  Se você não solicitou isso, ignore este e-mail.
</p>
<p>
  Obrigado,<br>
  Equipe TaskMaster
</p>
